# Ignore all compiled executables  
*.out  
*.o  
*.exe 
*.a
*.so
*.output

# Ignore packed solutions
*.tar.gz
*.tar
*.gz

#ignore .vscode and .idea
*.vscode
*.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Result folders
res